.App {
  text-align: center;
}

.actionBoard { 
  position:sticky !important;
  top: 20px;
  margin:auto;
  padding: 2rem;
  width: 32rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 8px;
  background-color: rgba(255,255,255, 0.9);
}

.actionBtn {
    width: 8rem; 
    margin-right: 2rem !important; 
}

.actionBtn:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.headRow {
  background-color: rgba(0,0,0,0.25);
}
